<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Leon</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <main class="container">

        <form action="/leones" method="post">
            <fieldset>
                <legend>Crear Leon</legend>
                <div>
                    <label for="name">Nombre:</label>
                    <input id="name" name="name" type="text">
                </div>
                <div>
                    <label for="weight">Peso:</label>
                    <input id="weight" name="weight" type="text">
                </div>
                <div>
                    <label for="age">Edad:</label>
                    <input id="age" name="age" type="text">
                </div>
                <div>
                    <label for="gender">Sexo:</label>
                    <select id="gender" name="gender" id="gender">
                        <option value="Masculino">Masculino</option>
                        <option value="Femenino">Femenino</option>
                    </select>
                </div>
                <button>Enviar</button>
            </fieldset>
        </form>

        <br><br>
        <div>
            <ul>
                <li><a href="/">Listar</a></li>
            </ul>
        </div>

    </main>

</body>
</html>