<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle Leon</title>
</head>
<body>
    
    <main>

        <h1>Detalle Leon</h1>

        <div>
            Nombre: <%= animal.name %>
        </div>
        <div>
            Edad: <%= animal.age %> años
        </div>
        <div>
            Peso: <%= animal.weight %> kg.
        </div>
        <div>
            Sexo: <%= animal.gender %>
        </div>

        <br><br>
        <div>
            <ul>
                <li><a href="/">Listar</a></li>
            </ul>
        </div>

    </main>

</body>
</html>